<nav style="background-color: #6c63ff; padding: 20px; width:-webkit-fill-available; overflow: hidden;">
    <ul style="list-style: none; display: flex; justify-content: center; padding: 0;">
        <li style="margin: 0 15px;">
            <a href="/" style="color: white; text-decoration: none; font-weight: bold;">Home</a>
        </li>
        <li style="margin: 0 15px;">
            <a href="/blogs" style="color: white; text-decoration: none; font-weight: bold;">All Blogs</a>
        </li>

        <li style="margin: 0 15px;">
            <a href="/blogs/my-blogs" style="color: white; text-decoration: none; font-weight: bold;">My Blogs</a>
        </li>
        <li style="margin: 0 15px;">
            <a href="/logout" style="color: white; text-decoration: none; font-weight: bold;">Logout</a>
        </li>
        <li style="margin: 0 15px;">
            <a href="/addTopicForm" style="color: white; text-decoration: none; font-weight: bold;">add Topic</a>
        </li>
        <li style="margin: 0 15px;">
            <a href="/changePassForm" style="color: white; text-decoration: none; font-weight: bold;">change Password</a>
        </li>
        <li style="margin: 0 15px;">
            <a href="/blogs/new" class="btn-create-blog"
                style="background-color: white; color: #6c63ff; padding: 8px 15px; border-radius: 5px; text-decoration: none;">Create
                Blog</a>
        </li>


    </ul>
</nav>